{% extends "template_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<!-- YouTube Video -->
<!-- <div class="video-container">
    <iframe
        width="560"
        height="315"
        src="{{ youtube_video_url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>
</div> -->

<!-- Watch on YouTube Link -->
<div class="video-container">
    <p><a href="{{ youtube_video_url }}" target="_blank">Watch on youtube</a></p>
</div>


<div id="content" class="mb-5">{{ transcribed_content }}</div>

<!-- <script>
    const transcribed_discourse_url = "{{ transcribed_discourse_url }}"
    // Include ./vipassana/s_n_goenka/_10_day_vipassana_course/script.js {% include "./vipassana/s_n_goenka/_10_day_vipassana_course/script.js" %}
</script> -->
{% endblock %}
