{% extends "template_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<!-- YouTube Video -->
<!-- <div class="video-container">
    <iframe
        width="560"
        height="315"
        src="{{ youtube_video_url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>
</div> -->

<!-- Watch on YouTube Link -->
<div class="video-container">
    <p><a href="{{ youtube_video_url }}" target="_blank">Watch on youtube</a></p>
</div>


<div id="content"></div>

<script>
    fetch("{{ transcribed_discourse_url }}")
        .then(response => response.text())
        .then(data => {
            document.getElementById("content").innerText = data;
        })
        .catch(error => console.error("Error fetching the file:", error));
</script>
{% endblock %}
